#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

#logo_div {
  display: flex;
  align-items: center;
}

header#main_header > div#logo_div {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#logo_div > img {
  width: 100px;
  height: 100px;
}

div#logo_div > h1 {
  margin-left: 5px;
}

/* Format list */
.nav_links {
  display: flex;
  margin-right: 15px;
}

ul.nav_links > li {
  margin: 0px 15px;
}

section aside.calendar_cont > img {
  width: 350px;
  height: 400px;
  margin-right: -100px;
}

section > aside.body_wildlife > img {
  width: 400px;
  height: 350px;
  border-radius: 5%;
  margin-left: -55px;
}

section.body_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

section > article.schedule_trip, section article.wildlife {
  margin: 30px;
}

section > article.schedule_trip > aside.calendar_cont {
  display: grid;
}

/* Create a grid layout */
section#attraction_section {
  display: grid;
  justify-items: center;
  margin-top: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
}

#main_footer {
  width: 100%;
  margin-top: auto;
} 


div#countdown {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

div#countdown > div{
  display: block;
  text-align: center;
  margin: 0px 10px;
  font-size: 1.1em;
}

button#alert_box {
  margin-right: auto;
  margin-left: auto;
}
