@charset "utf-8";

@font-face {
	font-family: Quicksand;
	src: url("Quicksand-Regular.woff") format("woff"),
	     url("Quicksand-Regular.ttf") format("ttf");
}

:root {
  --main-comp-color: #305252;
  --sec-comp-color: #523030;

  --text-comp-color: #ADD7F6;
  --sec-text-comp-color: #F6CCAD;
}

/*
Author: Gavin Rockwell
Date: 06/20/2023

This will contain general styles for all of the html pages.
*/

html {
  background: url(pics/back_image.jpg) center center / cover no-repeat fixed;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  min-height: 100%;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  background-color: var(--sec-comp-color);
  color: var(--sec-text-comp-color);
}

#main_header {
  background-color: var(--main-comp-color);
}

header#main_header > div#logo_div > h1 {
  color: var(--text-comp-color)
}

nav > ul.nav_links {
  list-style-type: none;
}

nav > ul.nav_links li > a {
  text-decoration: none;
  color: var(--text-comp-color);
  border-left: 2px solid var(--text-comp-color);
  border-right: 2px solid var(--text-comp-color);
  padding: 0px 10px;
}

nav > ul.nav_links li > a:hover {
  color: var(--sec-text-comp-color);
  border-left: 2px solid var(--sec-text-comp-color);
  border-right: 2px solid var(--sec-text-comp-color);
}

h1 {
  font-family: Quicksand, Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 10px;
}

p {
  font-family: Quicksand, Verdana, Geneva, sans-serif;
  font-size: 0.9em;
  line-height: 2;
}

section.about_info > p.info_para {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-indent: 5%;
} 

section.about_info > h1 {
  font-size: 3em;
  text-align: center;
  margin: 20px;
}

div.mountain_image > img {
  display: flex;
  width: 95%;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

section#attraction_section > figure img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  box-shadow: 10px 5px 5px black;
}

section#attraction_section > figure figcaption {
  text-align: center;
}

#main_footer {
  display: flex;
  justify-content: center;
  background-color: var(--main-comp-color);
  color: var(--text-comp-color);
}